<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Belegungsanzeige Ferienwohnung Haidle</title>
    <script src="https://kit.fontawesome.com/{{ fa_key }}.js" crossorigin="anonymous"></script>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='calendar.css') }}">
</head>
<body>
    <div>
        <a href="/availability?year={{ infos['prev_year'] }}&month={{ infos['prev_month'] }}"><i class="fa-regular fa-circle-left fa-2xl" style="color: #3286e6;"></i></a>
        <h1>{{ infos['month_text'] }} {{ infos['year'] }}</h1>
        <a href="/availability?year={{ infos['next_year'] }}&month={{ infos['next_month'] }}"><i class="fa-regular fa-circle-right fa-2xl" style="color: #3286e6;"></i></a>
        <form>
            <div class="selector">
                <label for="month-select">Gehe zu:</label>
                <select id="month-select" name="month" onchange="this.form.submit()">
                    {% set months = [   {'value': '01', 'name': 'Januar ' + infos['thisYear']},
                                        {'value': '02', 'name': 'Februar ' + infos['thisYear']},
                                        {'value': '03', 'name': 'März ' + infos['thisYear']},
                                        {'value': '04', 'name': 'April ' + infos['thisYear']},
                                        {'value': '05', 'name': 'Mai ' + infos['thisYear']},
                                        {'value': '06', 'name': 'Juni ' + infos['thisYear']},
                                        {'value': '07', 'name': 'Juli ' + infos['thisYear']},
                                        {'value': '08', 'name': 'August ' + infos['thisYear']},
                                        {'value': '09', 'name': 'September ' + infos['thisYear']},
                                        {'value': '10', 'name': 'Oktober ' + infos['thisYear']},
                                        {'value': '11', 'name': 'November ' + infos['thisYear']},
                                        {'value': '12', 'name': 'Dezember ' + infos['thisYear']}] %}
                    {% for month in months %}
                    <option value="{{ month.value }}" {% if month.name.startswith(infos['month_text']) %} selected {% endif %}>
                    {{ month.name }}
                    </option>
                    {% endfor %}
                </select>
            </div>
        </form>
    </div>
    <table id="calendar">
        <thead>
            <tr class="weekdays">
                <th>Mo</th>
                <th>Di</th>
                <th>Mi</th>
                <th>Do</th>
                <th>Fr</th>
                <th>Sa</th>
                <th>So</th>
            </tr>
        </thead>
        <tbody>
            {% for week in weeks %}
                <tr>
                {% for day in week %}
                    {% if day['status'] == 'free' %}
                        <td style="background-color: green;">{{ day['date'].day }}</td>
                    {% elif day['status'] == 'booked' %}
                        <td style="background-color: red;">{{ day['date'].day }}</td>
                    {% elif day['status'] == 'past' %}
                        <td style="background-color: gray;">{{ day['date'].day }}</td>
                    {% elif day['status'] == 'begin' %}
                        <td style="background: linear-gradient(to top left, red 50%, green 50%);">{{ day['date'].day }}</td>
                    {% elif day['status'] == 'end' %}
                        <td style="background: linear-gradient(to bottom right, red 50%, green 50%);">{{ day['date'].day }}</td>
                    {% endif %}
                {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
