<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Belegungsanzeige Ferienwohnung Haidle</title>
    <script src="https://kit.fontawesome.com/{{ fa_key }}.js" crossorigin="anonymous"></script>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div>
        <button onclick="window.location.href='/availability?year={{ infos['prev_year'] }}&month={{ infos['prev_month'] }}'">
            <i class="fa-solid fa-arrow-left"></i>
        </button>
        <h1>{{ infos['month_text'] }} {{ infos['year'] }}</h1>
        <button onclick="window.location.href='/availability?year={{ infos['next_year'] }}&month={{ infos['next_month'] }}'">
            <i class="fa-solid fa-arrow-right"></i>
        </button>
    </div>
    <table id="calendar">
        <thead>
            <tr class="weekdays">
                <th>Mo</th>
                <th>Di</th>
                <th>Mi</th>
                <th>Do</th>
                <th>Fr</th>
                <th>Sa</th>
                <th>So</th>
            </tr>
        </thead>
        <tbody>
            {% for week in weeks %}
                <tr>
                {% for day in week %}
                    <td style="background-color: {% if day['status'] == 'free' %}green{% elif day['status'] == 'booked' %}red{% elif day['status'] == 'start' %}white{% else %}gray{% endif %};">{{ day['date'].day }}</td>
                {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
