<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Buchungsanfrage Ferienwohnung Haidle</title>
    <script src="https://kit.fontawesome.com/{{ fa_key }}.js" crossorigin="anonymous"></script>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='requestbooking.css') }}">
    <script src="{{url_for('static', filename='requestbooking.js')}}"></script>
    <style>
        .error {
            padding: 20px;
            margin: 5px;
            color: #970020;
            background-color: #ffd5de;
        }
        .success {
            padding: 20px;
            margin: 5px;
            color: rgb(0, 0, 0);
            background-color: rgba(142, 238, 105, 0.85);
        }
    </style>

</head>
<body>
    {% for category, message in get_flashed_messages(with_categories=true) %}
        <div class="{{ category }}" id="{{ message }}" >
            {{ message }}
            <button onclick="hideElem('{{ message }}');" style="float: right;">x</button>
        </div>
    {% endfor %}
	<form method="POST">
        <div class="form-2-col">
            <div class="row mb-20">
                <h3>Kontaktdaten:</h3>
                <div>
                    <input type="radio" name="gender" value="Frau" id="frau" required><label for="frau">Frau</label>
                    <input type="radio" name="gender" value="Herr" id="herr" required><label for="herr">Herr</label>
                </div>
                <input type="text" id="email" name="email" placeholder="E-Mail-Adresse" value="{{ request.form['email'] }}" required>
                <input type="text" id="first-name" name="first-name" placeholder="Vorname" value="{{ request.form['first-name'] }}" required>
                <input type="text" id="last-name" name="last-name" placeholder="Nachname" value="{{ request.form['last-name'] }}" required>
                <div class="mt-10">
                    <input type="checkbox" id="confirmation-mail" name="confirmation-mail" checked>
                    <label for="confirmation-mail">Ich möchte eine Bestätigungsmail erhalten</label>
                </div>
            </div>
            <div class="row mb-20">
                <h3>Buchung:</h3>
                <label for="start-date">Buchungsbeginn:</label>
                <input type="date" id="start-date" name="start-date" value="{{ request.form['start-date'] }}" required><br><br>

                <label for="end-date">Buchungsende:</label>
                <input type="date" id="end-date" name="end-date" value="{{ request.form['end-date'] }}" required>

                <div id="guests">
                    <div class="guest-type">
                        <label for="adults">Erwachsene:</label>
                        <div class="guest-selector">
                            <i class="fa-solid fa-user-minus fa-xl" style="color: #3286e6;" onclick="decrementGuests('adults')"></i>
                            <input type="number" id="adults" name="adults" value=1 readonly>
                            <i class="fa-solid fa-user-plus fa-xl" style="color: #3286e6;" onclick="incrementGuests('adults')"></i>
                        </div>
                    </div>
                    <div class="guest-type">
                        <label for="children">Kinder:</label>
                        <div class="guest-selector">
                            <i class="fa-solid fa-user-minus fa-xl" style="color: #3286e6;" onclick="decrementGuests('children')"></i>
                            <input type="number" id="children" name="children" value=0 readonly>
                            <i class="fa-solid fa-user-plus fa-xl" style="color: #3286e6;" onclick="incrementGuests('children')"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <textarea style="display: block; width: 100%;" id="message" name="message" rows="5" maxlength="1000" placeholder="Sie möchten uns noch etwas Mitteilen?">{{ request.form['message'] }}</textarea>
        <button class="btn-prim" type="submit">Buchung anfragen</button>
    </form>

</body>
</html>