<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Buchungsanfrage Ferienwohnung Haidle</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='requestbooking.css') }}">
    <script src="{{url_for('static', filename='requestbooking.js')}}"></script>
    <style>
        .error {
            padding: 20px;
            margin: 5px;
            color: #970020;
            background-color: #ffd5de;
        }
        .success {
            padding: 20px;
            margin: 5px;
            color: rgb(0, 0, 0);
            background-color: rgba(142, 238, 105, 0.85);
        }
    </style>
</head>
<body>
    {% for category, message in get_flashed_messages(with_categories=true) %}
        <div class="{{ category }}" id="{{ message }}" >
            {{ message }}
            <button onclick="hideElem('{{ message }}');" style="float: right;">x</button>
        </div>
    {% endfor %}
	<form method="POST">
        <div class="form-2-col">
				<div class="row mb-20">
					<h3>Meine Kontaktdaten</h3>
                    <input type="email" id="email" name="email" placeholder="Email-Adresse" value="{{ request.form['email'] }}" required>
                    <input type="text" id="first-name" name="first-name" placeholder="Vorname" >
                    <input type="text" id="last-name" name="last-name" placeholder="Nachname" >
                    <div class="mt-10">
                        <input type="checkbox" id="confirmation-mail" name="confirmation-mail" checked>
                        <label for="confirmation-mail">Ich möchte eine Bestätigungsmail erhalten</label>
                    </div>
                </div>
                <div class="row mb-20">
                    <h3>Meine Adresse</h3>
                    <p>Hier werden Adressdaten Abgefragt</p>
                </div>
        </div>
        <div class="form-2-col">
			<div class="row mb-20">
                <h3>Meine Buchung</h3>
                <label for="start-date">Buchungsbeginn:</label>
                <input type="date" id="start-date" name="start-date" ><br><br>

                <label for="end-date">Buchungsende:</label>
                <input type="date" id="end-date" name="end-date" >
            </div>
            <div class="row mb-20">
                <h3>Wer ist dabei</h3>
                <div id="guests">
                    <div class="guest-type">
                        <label for="adults">Erwachsene:</label>
                        <button class="minus-btn" type="button" onclick="decrementGuests('adults')">-</button>
                        <input type="number" id="adults" name="adults" value=0 readonly>
                        <button class="plus-btn" type="button" onclick="incrementGuests('adults')">+</button>
                    </div>
                    <div class="guest-type">
                        <label for="children">Kinder:</label>
                        <button class="minus-btn" type="button" onclick="decrementGuests('children')">-</button>
                        <input type="number" id="children" name="children" value=0 readonly>
                        <button class="plus-btn" type="button" onclick="incrementGuests('children')">+</button>
                    </div>
                </div>
            </div>
        </div>
        <button class="btn-prim" type="submit">Buchung anfragen</button>
    </form>

</body>
</html>